@model  PHCLT.Models.Login
@{
    ViewBag.Title = "PHCDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="hdnVillageMasterId" value="@ViewBag.VillageMasterId" />
<div class="card card-default">    
    <div class="card-header">
        <h3 class="card-title">Village Details</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="cmbrPHCCenter">PHC Center</label>
                <select class="form-control select2" id="cmbrPHCCenter" style="width: 100%;">
                    <option selected="selected" value="0">Select a PHC Center</option>

                    @foreach (var phc in ViewBag.PHCCenterList)
                    {
                        <option value="@phc.id" @(ViewBag.phcid == phc.id ? "selected" : "")>@phc.phcname</option>
                    }
                </select>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Village Name</label>
                    <input type="text" class="form-control" id="txtVillageName" placeholder="Enter Village Name" value="@ViewBag.villageName">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Village Population</label>
                    <input type="text" class="form-control" id="txtVillagePopulation" placeholder="Enter Village Population" value="@ViewBag.villagePopulation">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" id="btnSaveVillage" class="btn btn-primary">Save</button>
        <a href="/PHCdetail/VilageList" id="btnVillageList" class="btn btn-primary">View List</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="~/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE -->
<script src="~/dist/js/adminlte.js"></script>
<!-- OPTIONAL SCRIPTS -->
<script src="~/plugins/chart.js/Chart.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/dist/js/pages/dashboard3.js"></script>
<!-- Bootstrap 4 -->
<script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Select2 -->
<script src="~/plugins/select2/js/select2.full.min.js"></script>
<!-- Bootstrap4 Duallistbox -->
<script src="~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
<!-- InputMask -->
<script src="~/plugins/moment/moment.min.js"></script>
<script src="~/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="~/plugins/daterangepicker/daterangepicker.js"></script>
<!-- bootstrap color picker -->
<script src="~/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Bootstrap Switch -->
<script src="~/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="~/plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- dropzonejs -->
<script src="~/plugins/dropzone/min/dropzone.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
<script src="~/plugins/inputmask/inputmask.js"></script>
<script src="~/plugins/inputmask/jquery.inputmask.js"></script>
<script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="~/plugins/toastr/toastr.min.js"></script>
<!-- date-range-picker -->
<script src="~/Scripts/Village/villagedetails.js"></script>

